* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  height: 100vh;
  background-color:	#cbcfd9;
}

/* FORM CONTAINER */
.main-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.form-container {
  border: solid;
  border-radius: 20px;
  width: 75%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.form-item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.form-item-label {
  display: flex;
  width: 50%;
}

.form-item-input {
  display: flex;
  align-items: right;
}

/* CRYPTO RESULTS CONTAINER */
.crypto-results-container {
  border: solid;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crypto-results-item {
  display: flex;
  justify-content: space-between;

}

/* NAVIGATION BAR */
.navbar-container {
  color: 	#cbcfd9;
  background-color: #2e4a62;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navbar {
  width: 900px;
  color: inherit;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navbar-item a{
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  color: inherit;
  text-decoration: none;
  flex-wrap: wrap;
}

/* FOOTER BAR */
.footer-container {
  color: 	#cbcfd9;
  background-color: #2e4a62;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.footer {
  width: 900px;
  color: inherit;
  display: flex;
  justify-content: center;
}

.footer-item a{
  display: flex;
  justify-content: center;
  color: inherit;
  text-decoration: none;
}
